.search{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;



        input{
            inline-size: 100%;
            padding: 10px;
            border-radius: 10px;
        }
}